<div class="title">
	<h2>Añadir pregunta :</h2>
</div>

<div class="item">
  <label for="preg">Pregunta:</label>
	<input id="preg" type="text" name="quiz[pregunta]" required="required" placeholder="Inserte texto" value="<%= quiz.pregunta %>"/>
</div>

<div class="item">
  <label for="resp">Respuesta:</label>
	<input id="resp" type="text" name="quiz[respuesta]" required="required" placeholder="Inserte texto" value="<%= quiz.respuesta %>"/>
</div>

<div class="buttons">
	<input type="submit" value="Crear"/>
  <a href="/quizes"><input type="button" name="Cancelar" value="Cancelar" >
</div>
