<% if (errors.length) { %>
  <span id='ErrorMsgs'>Corregir errores:<br/>
    <% for (var i in errors) { %>
      <span> <%= errors[i].message %> </span><br/>
    <% } %>
  </span>

<% } %>
<form method="post" action="/quizes/create" style=max-width:480px;min-width:150px">
  <%= include _form.ejs %>
</form>
